---
import { Sprite } from "astro-icon";

interface Props {
  className?: string;
}

const { className, ...rest } = Astro.props;
---

<div class:list={["popup", className]} {...rest}>
  <div class="popup__wrapper">
    <div class="popup__bg" data-close-btn></div>
    <div class="popup__container">
      <button type="button" class="popup__close" data-close-btn data-swipe-btn>
        <Sprite name="fi_x" />
      </button>
      <div class="popup__content">
        <slot />
      </div>
    </div>
  </div>
</div>
