.popup {
  position: fixed;
  z-index: 5000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: auto;
  pointer-events: none;
  opacity: 0;
  transition: 0.5s;

  &._active {
    pointer-events: all;
    opacity: 1;

    .popup {
      &__bg {
        pointer-events: all;
      }

      &__container {
        pointer-events: all;
      }
    }
  }

  &._sended {
    .popup-send {
      display: flex;
    }

    .popup__form {
      display: none;
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 19, 21, 0.5);
  }

  &__wrapper {
    position: relative;
    width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    pointer-events: none;

    @include breakpoint($xs-bp) {
      padding: 4rem 0rem 0rem;
    }
  }

  &__container {
    width: 100%;
    max-width: 57.5rem;
    padding: 4rem;
    background-color: $white;
    border-radius: 1.2rem;
    position: relative;

    @include breakpoint($xs-bp) {
      margin-top: auto;
      padding: 2.4rem 1.6rem 1.6rem;
      border-radius: 2rem 2rem 0 0;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 2.4rem;
    height: 2.4rem;
    transition: 0.3s;
    @include hover {
      color: $accent;
    }

    @include breakpoint($xs-bp) {
      width: 5.2rem;
      height: 0.5rem;
      border-radius: 0.5rem;
      background-color: $white;
      left: 50%;
      transform: translateX(-50%);
      top: -1rem;
    }

    svg {
      width: 100%;
      height: 100%;

      @include breakpoint($xs-bp) {
        display: none;
      }
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 4.4rem;

    @include breakpoint($xs-bp) {
      gap: 0rem;
    }
  }

  &__head {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;

    @include breakpoint($xs-bp) {
      gap: 0.4rem;
      margin-bottom: 2.4rem;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 3.2rem;

    @include breakpoint($xs-bp) {
      width: calc(100% + 3.2rem);
      margin: 0rem -1.6rem;
      padding: 2.4rem 1.6rem;
      border-top: 0.1rem solid $light-3;
      border-bottom: 0.1rem solid $light-3;
    }
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2rem;

    @include breakpoint($xs-bp) {
      gap: 0.8rem;
    }
  }

  &__title {
    font-size: 3.4rem;
    font-weight: 500;

    @include breakpoint($xs-bp) {
      font-size: 2.4rem;
    }
  }

  &__text {
    color: $gray-2;
    font-size: 1.8rem;

    @include breakpoint($xs-bp) {
      text-align: center;
      font-size: 1.4rem;
    }
  }

  &__legal {
    color: $gray-2;
    font-size: 1.6rem;

    @include breakpoint($xs-bp) {
      font-size: 1.4rem;
    }

    a {
      color: $accent;
      transition: 0.3s;
      @include hover {
        opacity: 0.6;
      }
    }
  }

  &-send {
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;

    @include breakpoint($xs-bp) {
      padding: 2.4rem 0 0 0;
    }

    &__icon {
      width: 10rem;
      height: 10rem;
      padding: 2.6rem;
      border: 0.2rem solid $accent;
      border-radius: 50%;
      color: $accent;
      margin-bottom: 3.2rem;

      @include breakpoint($xs-bp) {
        width: 8.8rem;
        height: 8.8rem;
        margin-bottom: 2.4rem;
        padding: 2.2rem;
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .popup {
      &__title {
        font-size: 3.2rem;
        font-weight: 400;
        margin-bottom: 1.6rem;

        @include breakpoint($xs-bp) {
          font-size: 2.4rem;
        }
      }

      &__text {
        margin-bottom: 4.2rem;

        @include breakpoint($xs-bp) {
          font-size: 1.6rem;
          margin-bottom: 3.2rem;
        }
      }
    }

    .default-btn {
      width: 100%;
    }
  }
}

@import "../RegionPopup/RegionPopup.scss";
