.default-btn {
  position: relative;
  height: 5.2rem;
  padding: 1rem 2.8rem;
  border: 0.2rem solid $accent;
  border-radius: 0.8rem;
  background: $accent;
  transition: 0.3s;
  font-size: 1.6rem;
  font-weight: 500;
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  @include hover {
    opacity: 0.9;
  }

  @include breakpoint($xs-bp) {
    height: 4.4rem;
  }

  &__spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    border-radius: inherit;
    background-color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      width: 2.4rem;
      height: 2.4rem;
      animation: spin 1s linear infinite;
    }
  }

  svg {
    width: 2rem;
    height: 2rem;
  }

  &.loading {
    pointer-events: none;

    .default-btn__spinner {
      opacity: 1;
    }
  }

  &.sm {
    height: 4.8rem;
    padding: 1rem 3.2rem;

    @include breakpoint($xs-bp) {
      height: 4.4rem;
      padding: 0rem 2rem;
    }
  }

  &.light {
    background-color: #f9fafb;
    color: $black-text;
    border-color: #f9fafb;
    @include hover {
      background-color: $light-3;
      color: $black-text;
      border-color: $light-3;
    }
  }

  &.white {
    background-color: $white;
    color: $gray-3;
    border-color: $light-3;
    @include hover {
      border-color: $light-4;
    }
  }

  &.border {
    background-color: $white;
    border: 0.2rem solid $light-3;
    color: $gray-2;
    @include hover {
      border-color: $light-4;
    }

    &.active {
      color: $accent;
      border-color: $accent;
    }
  }

  &.accent-light {
    background-color: rgba(249, 68, 68, 0.1);
    color: $accent;
    border-color: transparent;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
