---
import { Sprite } from "astro-icon";
interface Props {
  className?: string;
  size?: "sm" | "xs";
  color?: "light" | "white" | "border" | "accent-light";
  hasLoad?: boolean;
  loading?: boolean;
  as?: astroHTML.JSX.IntrinsicElements;
}

const {
  as: Wrapper = "button",
  className,
  size,
  color,
  hasLoad,
  loading,
  ...rest
} = Astro.props;
---

<Wrapper
  {...rest}
  type="button"
  class:list={["default-btn", size, color, { loading: loading }, className]}
>
  <slot />
  {
    hasLoad && (
      <span class="default-btn__spinner">
        <Sprite name="spinner" />
      </span>
    )
  }
</Wrapper>
