---
import { Sprite } from "astro-icon";
---

<button type="button" class="up-btn">
  <svg
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 49 50"
    fill="none"
    class="up-btn__dash"
  >
    <path
      d="M43.2025 38.4164L43.3694 38.1828C45.1053 35.7525 46.3339 32.9974 46.9818 30.082C47.6532 27.0606 47.6865 23.9323 47.0795 20.8974L46.8958 19.9788C46.3043 17.0216 45.1393 14.2089 43.4664 11.6996C41.8371 9.25567 39.7564 7.14503 37.336 5.48098L37.1194 5.33212C34.4062 3.46677 31.3167 2.21946 28.0689 1.67816C25.3787 1.22979 22.6294 1.27412 19.955 1.80899L18.722 2.05561C15.6116 2.67768 12.6747 3.9719 10.1168 5.8477C7.73064 7.59753 5.72625 9.81538 4.22599 12.3658L3.64489 13.3537C2.22704 15.764 1.26426 18.4144 0.804528 21.1728C0.274205 24.3548 0.424473 27.613 1.24543 30.7326L1.34707 31.1189C2.10848 34.0122 3.42306 36.7307 5.21818 39.1242C7.3764 42.0019 10.2102 44.3551 13.4275 45.9637C15.4505 46.9753 17.6313 47.6996 19.8588 48.0927L20.6779 48.2373C23.5294 48.7405 26.4536 48.658 29.2722 47.9948C32.0621 47.3383 34.6912 46.1265 37.0024 44.4316L37.9442 43.7409C39.9685 42.2564 41.7435 40.4591 43.2025 38.4164Z"
    ></path>
  </svg>
  <Sprite class="up-btn__icon" name="fluent:chevron-up-48-regular" />
</button>
