---
import { Sprite } from "astro-icon";
---

<div class="nav-bar">
  <div class="container nav-bar__container">
    <div class="nav-bar__list">
      <a href="#" class="nav-bar__link">Подобрать подарок</a>
      <a href="#" class="nav-bar__link">Монеты коллекционные</a>
      <a href="#" class="nav-bar__link">Монеты коллекционные</a>
      <a href="#" class="nav-bar__link">Благовония и аксессуары</a>
      <a href="#" class="nav-bar__link">Игрушки антистресс</a>
      <a href="#" class="nav-bar__link">Колокольчики коллекционные</a>
      <a href="#" class="nav-bar__link">Иконки автомобильные</a>

      <a href="#" class="nav-bar__link">Игрушки антистресс</a>
      <a href="#" class="nav-bar__link">Колокольчики коллекционные</a>
      <a href="#" class="nav-bar__link">Иконки автомобильные</a>
    </div>
    <div class="dropdown nav-bar-drop" data-dropdown>
      <button type="button" class="nav-bar-drop__btn" data-dropdown-btn>
        <Sprite name="fi_more-horizontal" />
      </button>
      <div class="nav-bar-drop__container"></div>
    </div>
  </div>
</div>
