<div class="seo-text">
  <div class="container">
    <div class="seo-text__container">
      <div class="seo-text__inner">
        <p>
          Сделайте сюрприз своим близким или друзьям прямо сейчас, оформив заказ
          с доставкой, или приходите к нам. Мы поможем превратить скучные серые
          дни, в яркие и праздничные! Сделайте сюрприз своим близким или друзьям
          прямо сейчас, оформив заказ с доставкой, или приходите к нам. Мы
          поможем превратить скучные серые дни, в яркие и праздничные!
        </p>
        <p>
          Сделайте сюрприз своим близким или друзьям прямо сейчас, оформив заказ
          с доставкой, или приходите к нам. Мы поможем превратить скучные серые
          дни, в яркие и праздничные!
        </p>
      </div>
      <div class="seo-text__inner">
        <p>
          Сделайте сюрприз своим близким или друзьям прямо сейчас, оформив заказ
          с доставкой, или приходите к нам. Мы поможем превратить скучные серые
          дни, в яркие и праздничные! Сделайте сюрприз своим близким или друзьям
          прямо сейчас, оформив заказ с доставкой, или приходите к нам. Мы
          поможем превратить скучные серые дни, в яркие и праздничные!
        </p>
        <p>
          Сделайте сюрприз своим близким или друзьям прямо сейчас, оформив заказ
          с доставкой, или приходите к нам. Мы поможем превратить скучные серые
          дни, в яркие и праздничные!
        </p>
      </div>
    </div>
  </div>
</div>
