---
import { Sprite } from "astro-icon";

interface Props {
  placeholder: string;
  defaultValue?: string;
  items: {
    name: string;
    value: string;
  }[];
}

const { placeholder, defaultValue, items } = Astro.props;
---

<div class="select" data-default-value={defaultValue}>
  <button type="button" class="select-btn">
    <span class="select-btn__text">{placeholder}</span>
    <Sprite name="fi_chevron-down" />
  </button>
  <div class="select__container">
    <div class="select__list">
      {
        items.map((i) => {
          <button type="button" class="select__item" data-value={i.value}>
            {i.name}
          </button>;
        })
      }
    </div>
  </div>
</div>
