---
import DefaultBtn from "../components/DefaultBtn/DefaultBtn.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Главная страница">
  <div
    style="display: flex; flex-direction: column; align-items: flex-start; gap: 2rem; padding: 5rem 2rem;"
  >
    <DefaultBtn as="a" href="./main.html" target="_blank">Главная</DefaultBtn>
    <DefaultBtn as="a" href="./products.html" target="_blank">
      Товары разводящая
    </DefaultBtn>
    <DefaultBtn as="a" href="./product.html" target="_blank">
      Карточка товара
    </DefaultBtn>
    <DefaultBtn as="a" href="./text-page.html" target="_blank">
      Текстовая страница
    </DefaultBtn>
    <DefaultBtn as="a" href="./about.html" target="_blank">
      О компании
    </DefaultBtn>
    <DefaultBtn as="a" href="./contacts.html" target="_blank">
      Контакты
    </DefaultBtn>
    <DefaultBtn as="a" href="./cart.html" target="_blank">Корзина</DefaultBtn>
    <DefaultBtn as="a" href="./order.html" target="_blank">
      Оформление заказа
    </DefaultBtn>
  </div>
</Layout>
