---
import DefaultBtn from "../components/DefaultBtn/DefaultBtn.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Главная страница">
  <div
    style="display: flex; flex-direction: column; align-items: flex-start; gap: 2rem; padding: 5rem 2rem;"
  >
    <DefaultBtn as="a" href="./main.html">Главная</DefaultBtn>
    <DefaultBtn as="a" href="./products.html">Товары разводящая</DefaultBtn>
    <DefaultBtn as="a" href="./product.html">Карточка товара</DefaultBtn>
    <DefaultBtn as="a" href="./text-page.html">Текстовая страница</DefaultBtn>
    <DefaultBtn as="a" href="./about.html">О компании</DefaultBtn>
    <DefaultBtn as="a" href="./contacts.html">Контакты</DefaultBtn>
    <DefaultBtn as="a" href="./cart.html">Корзина</DefaultBtn>
    <DefaultBtn as="a" href="./order.html">Оформление заказа</DefaultBtn>
  </div>
</Layout>
