.product-slider {
  overflow: hidden;
  margin-bottom: 6.4rem;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 2;

    &-inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 3.2rem;
    }

    .swiper-btns {
      @include breakpoint($xs-bp) {
        display: none;
      }
    }
  }

  &__btn {
    margin-top: 2.4rem;
    display: none;

    @include breakpoint($xs-bp) {
      display: flex;
    }
  }

  &__link {
    font-size: 3.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    align-items: center;
    gap: 1.8rem;
    transition: 0.3s;
    @include hover {
      color: $accent;

      .product-slider__link-icon {
        background-color: $accent_hover;
        color: $accent;
      }
    }

    @include breakpoint($xs-bp) {
      font-size: 2.8rem;
    }

    &-icon {
      width: 2.8rem;
      height: 2.8rem;
      padding: 0.5rem;
      background-color: $light-3;
      border-radius: 0.6rem;
      color: $gray-1;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s;

      @include breakpoint($xs-bp) {
        display: none;
      }

      svg {
        width: 100%;
        height: 100%;
      }
    }
  }

  &__swiper {
    width: calc(100% + 3.2rem);
    margin-right: -3.2rem;

    @include breakpoint($xs-bp) {
      width: calc(100% + 1.2rem);
      margin-right: -1.2rem;
    }

    &-wrapper {
      align-items: stretch;

      @include breakpoint($xs-bp) {
        width: 100% !important;
        transform: none !important;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 1.2rem;
      }
    }

    &-slide {
      height: auto;
      padding-right: 3.2rem;

      @include breakpoint($xs-bp) {
        padding: 0rem 1.2rem 0 0rem;

        &:nth-child(1n + 5) {
          display: none;
        }
      }
    }
  }
}
