---
interface Props {
  as?: keyof astroHTML.JSX.IntrinsicElements;
  className?: string;
  label?: string;
  error?: boolean;
  isRequired?: boolean;
  validate?: boolean;
}

const {
  as: Wrapper = "input",
  className,
  label,
  isRequired,
  validate,
  error,
  ...rest
} = Astro.props;
---

<>
  {
    label ? (
      <>
        <label
          class:list={[
            "default-input-label",
            { required: isRequired },
            { _error: error },
            { validate: validate },
            className,
          ]}
        >
          <span class="default-input-label__text">{label}</span>
          <Wrapper
            type="text"
            {...rest}
            class:list={["default-input", { _error: error }, className]}
          />
          <span class="default-input-label__error">Неверный формат</span>
        </label>
      </>
    ) : (
      <Wrapper
        type="text"
        {...rest}
        class:list={[
          "default-input",
          { _error: error },
          { validate: validate },
          className,
        ]}
      />
    )
  }
</>
