.default-input {
  width: 100%;
  border-radius: 0.8rem;
  border: 0.2rem solid $light-4;
  font-size: 1.6rem;
  height: 5.2rem;
  padding: 0rem 1.8rem;
  transition: 0.3s;
  @include hover {
    border-color: $light-6;
  }

  &:focus {
    border-color: $gray-2;
  }

  &::placeholder {
    color: $gray-1;
  }

  &:is(textarea) {
    padding: 1.5rem 1.8rem;
    resize: none;
    height: 14.6rem;
  }

  &._error {
    border-color: $accent;
  }
}

.default-input-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  font-size: 1.4rem;
  color: $gray-2;
  position: relative;

  &.required {
    .default-input-label__text {
      &::after {
        content: " *";
        color: $accent;
      }
    }
  }

  &._error {
    .default-input-label__error {
      opacity: 1;
      pointer-events: all;
    }
  }

  &__error {
    color: $accent;
    position: absolute;
    top: calc(100% + 0.8rem);
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    font-size: 1.4rem;

    @include breakpoint($xs-bp) {
      top: 100%;
    }
  }
}
