.social-link {
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  background-color: $light-3;
  padding: 0.9rem;
  color: $gray-2;
  transition: 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;

  @include hover {
    color: $accent;
    background-color: rgba(249, 68, 68, 0.1);
  }

  svg {
    width: 100%;
    height: 100%;
  }
}
