---
import Sprite from "astro-icon";
---

<div class="contacts-slider">
  <div class="swiper-head">
    <h3 class="swiper-head__title">Где мы находимся</h3>
    <div class="swiper-btns">
      <button type="button" class="swiper-btns__btn swiper-btns__btn_prev">
        <Sprite name="fi_chevron-right" />
      </button>
      <button type="button" class="swiper-btns__btn swiper-btns__btn_next">
        <Sprite name="fi_chevron-right" />
      </button>
    </div>
  </div>
  <div class="swiper contacts-slider__swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="contacts-slider__img">
          <img src="./img/contacts/contacts-1.jpg" alt="" loading="lazy" />
          <div class="swiper-preloader">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white">
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="contacts-slider__img">
          <img src="./img/contacts/contacts-2.jpg" alt="" loading="lazy" />
          <div class="swiper-preloader">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white">
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="contacts-slider__img">
          <img src="./img/contacts/contacts-3.jpg" alt="" loading="lazy" />
          <div class="swiper-preloader">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white">
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="contacts-slider__img">
          <img src="./img/contacts/contacts-4.jpg" alt="" loading="lazy" />
          <div class="swiper-preloader">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white">
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="contacts-slider__img">
          <img src="./img/contacts/contacts-1.jpg" alt="" loading="lazy" />
          <div class="swiper-preloader">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white">
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="contacts-slider__img">
          <img src="./img/contacts/contacts-2.jpg" alt="" loading="lazy" />
          <div class="swiper-preloader">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white">
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="contacts-slider__img">
          <img src="./img/contacts/contacts-3.jpg" alt="" loading="lazy" />
          <div class="swiper-preloader">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white">
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="contacts-slider__img">
          <img src="./img/contacts/contacts-4.jpg" alt="" loading="lazy" />
          <div class="swiper-preloader">
            <div class="swiper-lazy-preloader swiper-lazy-preloader-white">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
