---
import { Sprite } from "astro-icon";
import "../assets/styles/style.scss";
import UpBtn from "../components/UpBtn/UpBtn.astro";
import Menu from "../modules/Menu/Menu.astro";
import PopupCall from "../modules/PopupCall/PopupCall.astro";
import PopupQuestion from "../modules/PopupQuestion/PopupQuestion.astro";
import RegionPopup from "../modules/RegionPopup/RegionPopup.astro";
import DropdownPopup from "../modules/DropdownPopup/DropdownPopup.astro";

interface Props {
  title?: string;
  nav?: boolean;
}

const { title = "заголовок страницы", nav = true } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="./favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body>
    <Sprite.Provider>
      <main class:list={["page", { "no-nav": !nav }]}>
        <slot />
        <Menu />
      </main>

      <PopupCall />
      <PopupQuestion />
      <RegionPopup />
      <DropdownPopup />

      <UpBtn />
    </Sprite.Provider>
  </body>
</html>

<script src="../assets/scripts/index.ts"></script>
