---
import { Sprite } from "astro-icon";
import DefaultBtn from "../../components/DefaultBtn/DefaultBtn.astro";
import DefaultInput from "../../components/DefaultInput/DefaultInput.astro";
import Popup from "../Popup/Popup.astro";
---

<Popup data-call-popup data-send-handler>
  <form action="#" class="popup__form">
    <div class="popup__head">
      <span class="popup__title">Обратный звонок</span>
      <p class="popup__text">Представьтесь, мы вам перезвоним</p>
    </div>

    <div class="popup__inner" data-form-item>
      <DefaultInput
        label="Имя"
        placeholder="Иван"
        data-action="required-text"
        required
        isRequired
        validate
      />
      <DefaultInput
        label="Телефон"
        placeholder="+7 995 455 34 55"
        data-action="required-text"
        required
        isRequired
        data-mask-init
        data-mask="+7 999 999 99 99"
        validate
      />
    </div>

    <div class="popup__footer">
      <DefaultBtn type="submit" data-action="form-submit">Отправить</DefaultBtn>
      <p class="popup__legal">
        Продолжая, вы соглашаетесь с
        <a href="#"> политикой конфиденциальности</a>
      </p>
    </div>
  </form>
  <div class="popup-send">
    <div class="popup-send__icon">
      <Sprite name="fi_check_2" />
    </div>
    <span class="popup__title">Спасибо!</span>
    <span class="popup__text"
      >Наш менеджер перезвонит вам в ближайшее время</span
    >
    <DefaultBtn type="button" data-close-btn>Закрыть</DefaultBtn>
  </div>
</Popup>
